<br>
<br>
<br>
<h1>Users#edit</h1>
<p>Find me in app/views/users/edit_profile.html.erb</p>
<%= simple_form_for(@user, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :image %>

    <%= f.button :submit, class: "btn btn-primary btn-block" %>
<% end %>