@import "variables";
@import "bootstrap";
@import "bootstrap-sprockets";
@import "bootstrap-social";
@import "jasny-bootstrap";
@import "supersized";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jTinder";
@import "styles";
@import "tools";
@import "component";
@import "default";

.profile-image > img {
  border-radius: 10px;
}

.profile-fade {
  background: rgba(50,50,50,.20);
  border-radius: 10px;
}

.suhp-logo {
  height: 150px;
  width: 300px;
}